[user]
    name = "Jeremy Keeler"
    email = "jeremy@keeler.dev"
[includeIf "gitdir:**/Affirm/**"]
    path = ~/.gitconfig-work
[core]
    excludesFile = ~/.gitignore_global
    pager = delta
    editor = nvim
    fsmonitor = true
    untrackedcache = true
[alias]
    co = checkout
    st = status
    br = branch
[feature]
    manyFiles = true
[push]
    default = current
    autoSetupRemote = true
[color]
    ui = true
[init]
	defaultBranch = main
[delta]
  navigate = true
  dark = true
  syntax-theme = Dracula
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
